<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="DatabaseConnection" type="System.Configuration.NameValueSectionHandler" />
    <section name="Emailees" type="System.Configuration.NameValueSectionHandler" />
    <section name="Impersonation" type="System.Configuration.NameValueSectionHandler" />
    <section name="Office365" type="System.Configuration.NameValueSectionHandler" />
    <section name="API" type="System.Configuration.NameValueSectionHandler" />
    <section name="Directories" type="System.Configuration.NameValueSectionHandler" />
    <section name="ExchangeTools" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <DatabaseConnection>
    <add key="mssqlConnection" value="Data Source=smg-sql01;Initial Catalog=BuildUserAccountsV5;Integrated Security=False;User ID=AppUser; Password=SoMm1t!@" />
    <!--<add key="mssqlConnection" value="Data Source=vs-dev-db;Initial Catalog=BuildUserAccountsV5;Integrated Security=False;User ID=bua_user; Password=Summit99" />-->
  </DatabaseConnection>
  <Emailees>
    <add key="SenderName" value="BuildUserAccount" />
    <add key="SenderEmail" value="s3watch@summithealthcare.com" />
    <add key="Dev" value="blefler@summithealthcare.com" />
    <add key="SA" value="jbriscoe@summithealthcare.com" />
    <add key="Host" value="mail.ad.sumg.int" />
  </Emailees>
  <Impersonation>
    <add key="Domain" value="ad.sumg.int" />
    <add key="User" value="s3watch" />
    <add key="Password" value="!Nvigila2or" />
  </Impersonation>
  <Office365>
    <add key="365User" value="s3watch@summithealthcare.com" />
    <add key="365Password" value="!Nvigila2or" />
  </Office365>
  <API>
    <add key="AuthUrl" value="https://sssadapi.summithealthcare.com/Token" />
    <add key="RootUrl" value="https://sssadapi.summithealthcare.com" />
    <add key="APIUser" value="consoleuser@summithealthcare.com" />
    <add key="APIPassword" value="Summit99$" />
  </API>
  <Directories>
    <add key="NetworkPath" value="\\PS-NAS\Users\" />
    <add key="ITGroupOne" value="IT-Support" />
    <add key="ITGroupTwo" value="Domain Admins" />
  </Directories>
  <ExchangeTools>
    <add key="2007" value="C:\Program Files\Microsoft\Exchange Server\Bin\Exchange.ps1" />
    <add key="2010" value="C:\Program Files\Microsoft\Exchange Server\V14\" />
    <add key="2013" value="C:\Program Files\Microsoft\Exchange Server\V14\" />
  </ExchangeTools>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.8.0" newVersion="5.11.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>